<h1 class="text-center"> New Post</h1>
<hr>
<div class="row">
  <div class="col-md-8 ml-auto mr-auto">
    <%= form_with model: @post, locale: true do |f| %>


      <div class="form-group ">
        <label for="date" class="col-sm-2 col-form-label">Date</label>
        <%= f.date_field :date, class: 'form-control', required: true %>
      </div>

      <div class="form-group ">
        <label for="rationale" class="col-sm-2 col-form-label">Rationale</label>
        <%= f.text_area :rationale, class: 'form-control', required: true %>
      </div>

<!--TODO убарть захаркоденный статус-->
      <%= render  partial: 'status', locals: {f: f} if current_user.try(:type) == "AdminUser" %>


      <div class="form-group row">
        <div class="col-sm-12">
          <%= f.submit "Save", class: 'btn btn-primary btn-block' %>
        </div>
      </div>


    <% end %>
  </div>
</div>