
<div class="form-group ">
  <!--        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>-->
  <%= f.radio_button :status, 'submitted', id: "post_status_submitted" %>
  <%= f.label :status, 'Submitted' %>

  <%= f.radio_button :status, 'approved', id: "post_status_approved" %>
  <%= f.label :status, 'Approved' %>

  <%= f.radio_button :status, 'rejected', id: "post_status_rejected"%>
  <%= f.label :status, 'Rejected' %>
</div>